alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
bleach==3.3.0
botocore==1.20.20
Brotli==1.0.9
brotlipy==0.7.0
crc32c==2.2
cycler==0.10.0
decorator==4.4.2
deflate==0.3.0
dijkstra3d==1.8.0
docutils==0.15
edt==2.0.2
fastremap==1.11.1
fill-voids==2.0.1
fpzip==1.1.4
future==0.18.2
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
jeepney==0.6.0
jmespath==0.10.0
keyring==22.3.0
kiwisolver==1.3.1
numpy==1.20.1
pkginfo==1.7.0
pluggy==0.13.1
posix-ipc==1.0.4
pox==0.2.9
ppft==1.6.6.3
protobuf==4.0.0rc2
psutil==5.6.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pytest==6.2.2
python-dateutil==2.8.1
python-jsonschema-objects==0.3.13
simplejpeg==1.4.1
torch==1.6.0+cu101
torchfields==0.0.5
torchvision==0.7.0+cu101
